@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #191919;
    /* display: flex;
    justify-content: center; */
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}

.navigation {
    margin: 0 auto;
    width: 1193px;
    height: 59px;
    margin-top: 41px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    flex-direction: column;
    width: 97px;
    cursor: pointer;
}

.zeroseven {
    display: flex;
}

.zeroseven h1 {
    font-size: 2.5em;
    margin-top: -10px;
    letter-spacing: 3px;
    background: linear-gradient(rgba(0, 192, 253, 1), rgba(231, 15, 170, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.levanidev {
    display: flex;
    margin-top: -50px;
}

.levanidev p {
    font-size: 1.1em;
    letter-spacing: 3px;
    background: linear-gradient(rgba(0, 192, 253, 1), rgba(231, 15, 170, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: #A7A7A7;
    padding: 1em;
    position: relative;
    padding: 0 10px;
}

.navbar-links li a::after {
    content: "";
    position: absolute;
    background-color: rgba(231, 15, 170, 1);
    height: 3px;
    width: 0 ;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.navbar-links li a:hover::after {
    width: 100%;
}

.navbar-links li a:hover {
    color: rgba(0, 192, 253, 1);
}

.icons {
    display: flex;
    margin-top: -5px;
}

.introduction-section {
    display: flex;
    margin: 150px;
    justify-content: space-between;
}

.introduction-section h1 {
    font-size: 2.2em;
    letter-spacing: 1.5px;
    color: white;
}

.introduction-section h1 span {
    background: linear-gradient(rgba(0, 192, 253, 1), rgba(231, 15, 170, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.my-picture{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: rgb(1, 59, 77);
    overflow: hidden;   
}
  
.my-picture::before {
    content: "";
    position: absolute;
    inset: -10px 140px;
    background: linear-gradient(rgba(0, 192, 253, 1), rgba(231, 15, 170, 1));
    transition: 0.5s;
    animation: aniamte 4s linear infinite;
}

.my-picture:hover::before {
    inset: -20px 0px;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(360deg);
    }
}

.my-picture::after {
    content: "";
    position: absolute;
    inset: 6px;
    background: #191919;
    border-radius: 50%;
    z-index: 1;
}

.content {
    position: absolute;
    inset: 10px;
    border: 2px solid rgba(231, 15, 170, 1);
    z-index: 3;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s;
    pointer-events: none;
    z-index: 3;
}

.my-picture:hover .content img {
    opacity: 0;
}

.content h2 {
    position: relative;
    font-size: 1.5em;
    text-align: center;
    color: white;
    font-weight: 600;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.content h2 span {
    font-weight: 300;
    font-size: 0.75em;
}

.content a {
    position: relative;
    padding: 10px 20px;
    background: #fff;
    color: #070a2c;
    border-radius: 25px;
    font-weight: 500;
    font-size: 1.25em;
    text-transform: capitalize;
    letter-spacing: 0.05em;
    text-decoration: none;
    transition: 0.5s;
}

.content a:hover {
    letter-spacing: 0.2em;
    margin-top: -15px;
}