.contact-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.right-section {
    display: flex;
    justify-content: space-between;
    margin-right: 70px;
}

.right-section h3 {
    color: rgba(167, 167, 167, 1)
}

.phone-number {
    margin-right: 30px;
    letter-spacing: 2px;
}

.bottom-logo {
    margin-left: 90px;
}

.bottom-icons {
    display: flex;
    margin-top: 15px;
}

.line {
    height: 1px;
    background: rgba(66, 68, 110, 1);
    border: 2px solid rgba(66, 68, 110, 1);
    margin-top: 50px;
    width: 1100px;
    margin-left: 90px;
}