.projects-title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}

.projects-title h2 {
    color: rgba(204, 204, 204, 1);
    font-size: 3em;
    letter-spacing: 4px;
}

.projects-title p {
    color: rgba(167, 167, 167, 1);
    letter-spacing: 1.5px;
    font-size: 2em;
    margin-top: -10px;
}