.tech-stack-section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tech-stack-section h2{
    color: rgba(204, 204, 204, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 2.5em;
    line-height: 26px;
    letter-spacing: 1.1px;
}

.tech-stack-section p{
    color: rgba(204, 204, 204, 1);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1.5em;
    line-height: 26px;
    letter-spacing: 1px;
}